h1 { text-align: center; }

body {text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right, pink, #AA336A);
    color: black;
}

.div-img{
    justify-content: center;
    align-items: center;
    display:flex;
    padding-top:20%;
}

img{
    transition: transform .2s;
    width:300px;
    height:300px;
    margin:0 auto;
    background-color: rgb(173, 173, 237);
    border-radius: 50%;
    border: 3px solid white;
}

img:hover{
    transform:scale(1.5);
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #ffb3b3;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #ff8080;
}
